<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('openbravo.settings') %></h1>

<%= form_tag(admin_openbravo_settings_path, :method => :put) do %>
  <p>
    <label><%= t("openbravo.url") %></label><br />
    <%= text_field_tag('preferences[url]', Spree::Openbravo::Config[:url]) %>
  </p>
  <p>
    <label><%= t('openbravo.organization') %></label><br />
    <%= select_tag('preferences[organization_id]', 
          options_for_select(@organizations, Spree::Openbravo::Config[:organization_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.tax_category') %></label><br />
    <%= select_tag('preferences[tax_category_id]', 
          options_for_select(@tax_categories, Spree::Openbravo::Config[:tax_category_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.price_list') %></label><br />
    <%= select_tag('preferences[price_list_id]', 
          options_for_select(@price_lists, Spree::Openbravo::Config[:price_list_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.customer_category') %></label><br />
    <%= select_tag('preferences[customer_category_id]', 
          options_for_select(@bp_categories, Spree::Openbravo::Config[:customer_category_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.order_transaction_document') %></label><br />
    <%= select_tag('preferences[order_transaction_document_id]', 
          options_for_select(@order_transaction_documents, Spree::Openbravo::Config[:order_transaction_document_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.payment_term') %></label><br />
    <%= select_tag('preferences[payment_term_id]', 
          options_for_select(@payment_terms, Spree::Openbravo::Config[:payment_term_id])) %>
  </p>
  <p>
    <label><%= t('openbravo.warehouse') %></label><br />
    <%= select_tag('preferences[warehouse_id]', 
          options_for_select(@warehouses, Spree::Openbravo::Config[:warehouse_id])) %>
  </p>
  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_openbravo_settings_url %>
  </p>
<% end %>
